<template>
    <md-dialog class="container" :md-active.sync="showRegistration">
      <div class="close">
        <md-button @click="closeRegistration" class="md-icon-button">
          <md-icon>clear</md-icon>
        </md-button>
      </div>
      <form novalidate @submit.prevent="validateUser">
        <div class="md-layout">
          <div class="md-layout-item"> 
           <h2>Sign up and start your adventure!</h2>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item"> 
            <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field></div>
        </div>
        <div class="md-layout-item">
          <md-field :class="getValidationClass('password')">
            <label for="passsword">Password</label>
            <md-input type="password" name="password" id="password" autocomplete="password" v-model="form.password" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">password is required</span>
            <span class="md-error" v-else-if="!$v.form.password.password">Must be more then 3 characters</span>
          </md-field>
        </div>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-raised md-primary" :disabled="sending">Sign up</md-button>
        </md-card-actions>
    </form>
      <md-dialog-actions>
      </md-dialog-actions>
    </md-dialog>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import {HTTP} from '../../http/http-axios'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'SignUpComponent',
    mixins: [validationMixin],
    data: () => ({
      form: {
        email: null,
        password: null
      },
      userSaved: false,
      sending: false,
      lastUser: null
    }),
    methods: {
      closeRegistration: function() {
        this.$store.commit('hideRegistration')
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      },
      saveUser () {
        this.sending = true
        HTTP.post('auth/register', {
          email: this.form.email,
          password: this.form.password
        }).then(response => {
          this.sending = false
          this.clearForm()
          this.$store.commit('hideRegistration')
          this.$store.commit('toast', {
            show: true,
            message: 'Account created! Please login.'
          })
        }).catch(error => {
          console.log(error)
          this.sending = false
        })
      },
      clearForm () {
        this.$v.$reset()
        this.form.email = null
        this.form.password = null
      }
    },
    validations: {
      form: {
        password: {
          required,
          minLength: minLength(3)
        },
        email: {
          required,
          email
        }
      }
    },
    computed: {
      showRegistration: function() {
        return this.$store.getters.registrationShow
      }
    }
  }
</script>

<style scoped>
.close {
  text-align: right;
}
.md-layout {
  min-width: 600px;
}
.md-card-header {
  text-align: center;
}
form {
  padding: 60px;
}
</style>

