 <template>
<!--First Step -->
  <div>
    <md-steppers md-vertical>
      <md-step id="first" md-label="First Step - Race & Class" md-description="Chracter Race and Stats.">
       <md-field>

<!--Character Name Input-->
  <label>Character Name:</label>
    <md-input v-model="characterProperties.name"></md-input>
  </md-field>

<!--Character Race drop down selector-->
  <div class="md-layout-item">
    <md-field> <label for="race">Race</label>
      <md-select v-model="characterProperties.race" name="race" id="race">
        <md-option value="dwarf">Dwarf</md-option>
        <md-option value="elf">Elf</md-option>
        <md-option value="halfling">Halfling</md-option>
        <md-option value="human">Human</md-option>
        <md-option value="dragonborn">Dragonborn</md-option>
        <md-option value="gnome">Gnome</md-option>
        <md-option value="half-elf">Half-Elf</md-option>
        <md-option value="half-orc">Half-Orc</md-option>
        <md-option value="tiefling">Tiefling</md-option>
        <md-option value="custom-race">Custom Race</md-option>
      </md-select>
    </md-field>
  </div>

<!--Character Class drop down selector-->
  <md-field>
    <label for="class">Class</label>
      <md-select v-model="characterProperties.charClass" name="class" id="class">
        <md-option value="barbarian">Barbarian</md-option>
        <md-option value="bard">Bard</md-option>
        <md-option value="claric">Claric</md-option>
        <md-option value="druid">Druid</md-option>
        <md-option value="fighter">Fighter</md-option>
        <md-option value="monk">Monk</md-option>
        <md-option value="paladin">Paladin</md-option>
        <md-option value="ranger">Ranger</md-option>
        <md-option value="rouge">Rouge</md-option>
        <md-option value="sorcerer">Sorcerer</md-option>
        <md-option value="warlock">Warlock</md-option>
        <md-option value="wizard">Wizard</md-option>
        <md-option value="custom-class">Custom Class</md-option>
      </md-select>
    </md-field>

<!--Character Level drop down selector-->
  <md-field>
    <label for="level">Character Level</label>
      <md-select v-model="characterProperties.level" name="level" id="level">
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
        <md-option value="4">4</md-option>
        <md-option value="5">5</md-option>
        <md-option value="6">6</md-option>
        <md-option value="7">7</md-option>
        <md-option value="8">8</md-option>
        <md-option value="9">9</md-option>
        <md-option value="10">10</md-option>
        <md-option value="11">11</md-option>
        <md-option value="12">12</md-option>
        <md-option value="13">13</md-option>
        <md-option value="14">14</md-option>
        <md-option value="15">15</md-option>
        <md-option value="16">16</md-option>
        <md-option value="17">17</md-option>
        <md-option value="18">18</md-option>
        <md-option value="19">19</md-option>
        <md-option value="20">20</md-option>
      </md-select>
  </md-field>

<!-- Character Strength -->
  <md-field>
    <label>Character Strength:</label>
    <md-input v-model="characterProperties.strength"></md-input>
  </md-field>

  <!-- Character Dexterity -->
  <md-field>
    <label>Character Dexterity:</label>
    <md-input v-model="characterProperties.dexterity"></md-input>
  </md-field>

  <!-- Character Constitution -->
  <md-field>
    <label>Character Constitution:</label>
    <md-input v-model="characterProperties.constitution"></md-input>
  </md-field>

  <!-- Character Intelligence -->
  <md-field>
    <label>Character Intelligence:</label>
    <md-input v-model="characterProperties.intelligence"></md-input>
  </md-field>

  <!-- Character Wisdom -->
  <md-field>
    <label>Character Wisdom:</label>
    <md-input v-model="characterProperties.wisdom"></md-input>
  </md-field>

  <!-- Character Charisma -->
  <md-field>
    <label>Character Charisma:</label>
    <md-input v-model="characterProperties.charisma"></md-input>
  </md-field>
<!--ABILITY SCORE SECTION
  <big>Select how you would like to assign ability scores:</big>
-->
<!--Random Roll or Point buy selection buttons
  <div>
    <md-button v-on:click="rollAbility()" class="md-raised md-primary">Roll Abilities</md-button>
    <md-button v-on:click="buyAbility()" class="md-raised md-primary">Point Buy</md-button>
  </div>
  -->
<!--Ability Score Selection Check Boxes
  <div id='AbilityScores'>
    <p>The rolls will be assigned to your abilities in the order you select them. If 12 is your first roll, and you select Dexterity, your Dexterity Ability Score will be 12. </p>
    <input type="checkbox" id="strength" value="Strength" v-model="selectedAblilities">
    <label for="Strength">Strength</label>
    <input type="checkbox" id="dexterity" value="Dexterity" v-model="selectedAblilities">
    <label for="Dexterity">Dexterity</label>
    <input type="checkbox" id="constitution" value="Constitution" v-model="selectedAblilities">
    <label for="Constitution">Constitution</label>
    <input type="checkbox" id="intelligence" value="Intelligence" v-model="selectedAblilities">
    <label for="Intelligence">Intelligence</label>
    <input type="checkbox" id="wisdom" value="Wisdom" v-model="selectedAblilities">
    <label for="Wisdom">Wisdom</label>
    <input type="checkbox" id="charisma" value="Charisma" v-model="selectedAblilities">
    <label for="Charisma">Charisma</label>
    <br>
    <span>Ability Select Order: {{selectedAblilities}}</span>
  </div>
-->
<!-- Character Ability Score Values -->
<!--
<select v-model="selectedStrength">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedStrength }}</span>
<br>

<select v-model="selectedDexterity">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedDexterity }}</span>
<br>

<select v-model="selectedConstitution">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedConstitution }}</span>
<br>

<select v-model="selectedIntelligence">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedIntelligence }}</span>
<br>

<select v-model="selectedWisdom">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedWisdom }}</span>
<br>

<select v-model="selectedCharisma">
  <option v-for="selectedScores in selectedScores" v-bind:key="selectedScores.value">
    {{ selectedScores.text }}
  </option>
</select>
<span>Selected: {{ selectedCharisma }}</span>

  <div>
    <span v-for='statRoll in statRolls' v-bind:key="statRoll" >
    <md-chip class="md-accent">{{statRoll}}</md-chip></span>
  </div>
-->
<!-- Ability score reset button.
  <div>
    <p>Want to re-assign your scores? Click here to start over.</p>
    <md-button v-on:click="resetAbility()" class="md-raised md-primary">Reset</md-button>
  </div>
-->
<!--Hit point Roll -->
  <div>
    <br><big>Roll Character Health</big><br>
    <md-button v-on:click="rollHealth" class="md-raised md-primary">Roll</md-button>
  </div>
  <span>Health Value: {{playerHealth}}</span>

</md-step>

<!-- Second Step in Character Creation -->
<md-step id="second" md-label="Second Step - Character Background & Personality">

<!-- Character Image Upload -->
  <md-field>
    <div><label>Character Image</label>
    <md-file v-model="single"  accept="image/*"/>
    </div>
  </md-field>

<!-- Character Alignment -->
  <md-field>
    <label for="alignment">Character Alignment</label>
      <md-select v-model="characterDescription.alignment" name="charAlignment" id="align">
        <md-option value="Lawful Good">Lawful Good</md-option>
        <md-option value="Neutral Good">Neutral Good</md-option>
        <md-option value="Chaotic Good">Chaotic Good</md-option>
        <md-option value="Lawful Neutral">Lawful Neutral</md-option>
        <md-option value="Neutral">Neutral</md-option>
        <md-option value="Chaotic Neutral">Chaotic Neutral</md-option>
        <md-option value="Lawful Evil">Lawful Evil</md-option>
        <md-option value="Neutral Evil">Neutral Evil</md-option>
        <md-option value="Chaotic Evil">Chaotic Evil</md-option>
      </md-select>
  </md-field>

<!-- Character Eye Color -->
  <md-field>
    <label>Character Eye Color:</label>
    <md-input v-model="characterDescription.eyeColor"></md-input>
  </md-field>

<!-- Character age -->
  <md-field>
    <label>Character Age:</label>
    <md-input v-model="characterDescription.age"></md-input>
  </md-field>

<!-- Character height -->
  <md-field>
    <label>Character Height:</label>
    <md-input v-model="characterDescription.height"></md-input>
  </md-field>

<!-- Character weight -->
  <md-field>
    <label>Character Weight:</label>
    <md-input v-model="characterDescription.weight"></md-input>
  </md-field>

<!-- Character Skin Color -->
  <md-field>
    <label>Character Skin Color:</label>
    <md-input v-model="characterDescription.skinColor"></md-input>
  </md-field>

<!-- Character Hair Color -->
  <md-field>
    <label>Character Hair Color:</label>
    <md-input v-model="characterDescription.hairColor"></md-input>
  </md-field>

<!-- Character Ideals Input -->
  <md-field>
    <label>Character Ideals:</label>
    <md-input v-model="characterDescription.ideals"></md-input>
  </md-field>

<!-- Character Background Input -->
  <md-field>
    <label>Character Background:</label>
    <md-input v-model="characterDescription.background"></md-input>
  </md-field>

<!-- Character Bonds Input -->
  <md-field>
    <label>Character Bonds:</label>
    <md-input v-model="characterDescription.bonds"></md-input>
  </md-field>

<!-- Character Flaws Input -->
  <md-field>
    <label>Character Flaws:</label>
    <md-input v-model="characterDescription.flaws"></md-input>
  </md-field>

</md-step>

<!-- Third Step -->
<md-step id="third" md-label="Third Step - Equipment">
  <div>
    <p>Starting Gold is dependant on class.</p>
    <md-button v-on:click="rollGold()" class="md-raised md-primary">Roll</md-button>
    <div>Starting gold: {{playerGold}}</div>
  </div>
</md-step>

<!-- Fourth Step -->
<md-step id="fourth" md-label="Character Information">

<!--Character Sheet Character information Card -->
<div>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">Character Information</div>
          <div class="md-subhead">
          <span>Character Name: {{characterProperties.name}}</span>
          <br>
          <span>Race: {{characterProperties.race}}</span>
          <br>
          <span>Class: {{characterProperties.charClass}}</span>
          <br>
          <span>Level: {{characterProperties.level}}</span>
          <br>
          <span>Strength: {{characterProperties.strength}}</span>
          <span>Dexterity: {{characterProperties.dexterity}}</span>
          <span>Constitution: {{characterProperties.constitution}}</span>
          <span>Intelligence: {{characterProperties.intelligence}}</span>
          <span>Wisdom: {{characterProperties.wisdom}}</span>
          <span>Charisma: {{characterProperties.charisma}}</span></div>
        </md-card-header-text>
<!-- User Image Display -->
        <md-card-media>
          <img src="/assets/examples/avatar-2.jpg" alt="User Image">
        </md-card-media>
      </md-card-header>
    </md-card>
</div>

<br>
<!--Character Sheet Equipment information Card -->
<div>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">Character Equipment</div>
          <div class="md-subhead">
          <span>Main Hand: {{characterEquiptment.mainHand}}</span>
          <br>
          <span>Off Hand: {{characterEquiptment.offHand}}</span>
          <br>
          <span>Equipment: {{characterEquiptment.equipment}}</span>
          <br>
          <span>Treasure: {{characterEquiptment.treasure}}</span>
          <br>
          <span>Gold: {{characterEquiptment.gold}}</span>
          </div>
        </md-card-header-text>
      </md-card-header>
    </md-card>
</div>

<br>
<!--Character Sheet Character Role-play information Card -->
<div>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">Character Role-play Information</div>
          <div class="md-subhead">
        <span>Alignment: {{characterDescription.alignment}}</span>
        <br>
        <span>Eye Color: {{characterDescription.eyeColor}}</span>
        <br>
        <span>Age: {{characterDescription.age}}</span>
        <br>
        <span>Height: {{characterDescription.height}}</span>
        <br>
        <span>Weight: {{characterDescription.weight}}</span>
        <br>
        <span>Skin Color: {{characterDescription.skinColor}}</span>
        <br>
        <span>Hair Color: {{characterDescription.hairColor}}</span>
        <br>
        <span>Ideals: {{characterDescription.ideals}}</span>
        <br>
        <span>Background: {{characterDescription.background}}</span>
        <br>
        <span>Bonds: {{characterDescription.bonds}}</span>
        <br>
        <span>Flaws: {{characterDescription.flaws}}</span>
        </div>
        </md-card-header-text>
      </md-card-header>
    </md-card>
</div>
<!--Save Character Button -->
<div>
  <br>
    <big>Click here to save this character:</big>
    <br>
    <md-button v-on:click="saveCharacter()" class="md-raised md-primary">SAVE</md-button>
  </div>
      </md-step>
    </md-steppers>
  </div>
</template>

<script>
export default {
  name: "CharacterCreateComponent",
  data(){
    return{
      selectedStrength: [],
      selectedDexterity: [],
      selectedConstitution: [],
      selectedIntelligence: [],
      selectedWisdom: [],
      selectedCharisma: [],
      selectedScores: [
      { text: 'Strength', value: '' },
      { text: 'Dexterity', value: '' },
      { text: 'Constitution', value: '' },
      { text: 'Intelligence', value: '' },
      { text: 'Wisdom', value: '' },
      { text: 'Charisma', value: '' }],
      statRolls: ['10','12','13','8','17','14'],
      playerGold: [30],
      playerHealth: [10],

      characterProperties: [
        {strength: ''},
        {dexterity: ''},
        {constitution: ''},
        {intelligence: ''},
        {wisdom: ''},
        {charisma: ''},
        {name:''},
        {race: ''},
        {charClass: ''},
        {armorClass: ''},
        {speed: ''},
        {initiative: ''},
        {health: ''},
        {level: ''},
        {languages: ''},
        {spells: ''},
        {traits: ''}
      ],
      characterEquiptment: [
        {mainHand: ''},
        {offHand: ''},
        {equipment: ''},
        {treasure: ''},
        {gold: ''}
      ],

      characterDescription: [
        {eyeColor: ''},
        {height: ''},
        {weight: ''},
        {skinColor: ''},
        {hairColor: ''},
        {age: ''},
        {background: ''},
        {ideals: ''},
        {alignment: ''},
        {bonds: ''},
        {flaws: ''}
      ],
/* These are for step two and uploading an image. */
      initial: "vue-material-is-awesome.jpg",
      single: null
      };
  },

  methods: {
    sendData: function() {
      console.log(this.race)
      console.log(this.charClass)
      console.log(this.level)
    },

/* This will call a function from the backend to roll the numbers. */
    rollAbility: function() {
      console.log('clicked')
    },
/* If the player does not want to roll their abilities, they can use a Point Buy system */
    buyAbility: function() {
      console.log('clicked')
    },

/* The hit die changes depending on the class. For now, I will make it so it only works for a human fighter. */
    rollHealth: function() {
      console.log('clicked')
  },

/* This clears the selections made by the user for character abilities */
    resetAbility: function(abilities) {
      console.log('clicked')
      while(this.ablilties.length > 0){
        this.abilities.pop()
      }
      console.log(this.abilities)
    },

/* I wrote a script for this to be called from the backend */
    rollGold: function() {
      console.log('gold');

  },
  /* Save Character */
  saveCharacter: function() {
    console.log('saved!')
  }
  }
}
</script>

<style  scoped>

</style>

