<template>
    <md-card>
      <md-card-header>
        <div class="md-title">Characters</div>
      </md-card-header>
        <list-component v-bind:data="characters"></list-component>
      <md-card-content>
      </md-card-content>
    </md-card>
</template>

<script>
  import ListComponent from '@/components/shared/ListComponent'

  export default {
    name: 'CharacterListComponent',
    components: {
      ListComponent
    },

    data () {
      return {
        characters: []
      }
    },

    created () {
      this.characters = [{name: 'Jackson'}, {name: 'Alergar'}, {name: 'Coliander'}]
    }
  }
</script>

<style  scoped>
</style>