 <template>
<div class="md-layout md-gutter">
  <div class="md-layout-item">
    <md-card>
      <md-steppers md-vertical>
        <md-step id="first" md-label="Step One" md-description="Monster Type and Stats">

          <!--Monster Name Input-->
          <md-field>
            <label>Monster Name:</label>
            <md-input v-model="monsterProperties.name"></md-input>
          </md-field>

          <!--Monster Challenge Ranking -->
          <md-field>
            <label for="level">Monster Challenge Ranking</label>
            <md-select v-model="monsterProperties.rank" name="level" id="level">
              <md-option value="1/8">1/8</md-option>
              <md-option value="1/4">1/4</md-option>
              <md-option value="1/2">1/2</md-option>
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!--Monster Type drop down selector-->
          <div class="md-layout-item">
            <md-field>
              <label for="type">Monster Type</label>
              <md-select v-model="monsterProperties.type" name="type" id="type">
                <md-option value="aberration">Aberration</md-option>
                <md-option value="beast">Beast</md-option>
                <md-option value="celestial">Celestial</md-option>
                <md-option value="construct">Construct</md-option>
                <md-option value="dragon">Dragon</md-option>
                <md-option value="elemental">Elemental</md-option>
                <md-option value="fey">Fey</md-option>
                <md-option value="fiend">Fiend</md-option>
                <md-option value="giant">Giant</md-option>
                <md-option value="humanoid">Humanoid</md-option>
                <md-option value="monstrosity">Monstrosity</md-option>
                <md-option value="ooze">Ooze</md-option>
                <md-option value="plant">Plant</md-option>
                <md-option value="swarm of tiny beasts">Swarm of Tiny Beasts</md-option>
                <md-option value="undead">Undead</md-option>
              </md-select>
            </md-field>
          </div>

          <!-- Monster Strength -->
          <md-field>
            <label for="level">Monster Strength</label>
            <md-select v-model="monsterProperties.strength" name="strength" id="strength">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!-- Monster Dexterity -->
          <md-field>
            <label for="level">Monster Dexterity</label>
            <md-select v-model="monsterProperties.dexterity" name="dexterity" id="dexterity">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!-- Monster Constitution -->
          <md-field>
            <label for="level">Monster Constitution</label>
            <md-select v-model="monsterProperties.constitution" name="constitution" id="constitution">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!-- Monster Intelligence -->
          <md-field>
            <label for="level">Monster Intelligence</label>
            <md-select v-model="monsterProperties.intelligence" name="intelligence" id="intelligence">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!-- Monster Wisdom -->
          <md-field>
            <label for="level">Monster Wisdom</label>
            <md-select v-model="monsterProperties.wisdom" name="wisdom" id="wisdom">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!-- Monster Charisma -->
          <md-field>
            <label for="level">Monster Charisma</label>
            <md-select v-model="monsterProperties.charisma" name="charisma" id="charisma">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
              <md-option value="20">21</md-option>
              <md-option value="20">22</md-option>
              <md-option value="20">23</md-option>
              <md-option value="20">24</md-option>
              <md-option value="20">25</md-option>
              <md-option value="20">26</md-option>
              <md-option value="20">27</md-option>
              <md-option value="20">28</md-option>
              <md-option value="20">29</md-option>
              <md-option value="20">30</md-option>
            </md-select>
          </md-field>

          <!--Monster health Input-->
          <md-field>
            <label>Monster Health:</label>
            <md-input v-model="monsterProperties.health"></md-input>
          </md-field>

          <!--Monster Armor Class Input-->
          <md-field>
            <label>Monster Armor Class:</label>
            <md-input v-model="monsterProperties.armorClass"></md-input>
          </md-field>
          <!--Monster Speed Input-->
          <md-field>
            <label>Monster Speed:</label>
            <md-input v-model="monsterProperties.speed"></md-input>
          </md-field>

        </md-step>

        <!-- Second Step in Monster Creation -->
        <md-step id="second" md-label="Second Step" md-description="Monster Skills and Immunities">

          <!-- Monster Image Upload -->
          <md-field>
            <div>
              <label>Monster Image</label>
              <md-file v-model="single" accept="image/*" />
            </div>
          </md-field>


          <!-- Monster Alignment -->
          <md-field>
            <label for="alignment">Monster Alignment</label>
            <md-select v-model="monsterProperties.alignment" name="monsterAlignment" id="align">
              <md-option value="Lawful Good">Lawful Good</md-option>
              <md-option value="Neutral Good">Neutral Good</md-option>
              <md-option value="Chaotic Good">Chaotic Good</md-option>
              <md-option value="Lawful Neutral">Lawful Neutral</md-option>
              <md-option value="Neutral">Neutral</md-option>
              <md-option value="Chaotic Neutral">Chaotic Neutral</md-option>
              <md-option value="Lawful Evil">Lawful Evil</md-option>
              <md-option value="Neutral Evil">Neutral Evil</md-option>
              <md-option value="Chaotic Evil">Chaotic Evil</md-option>
            </md-select>
          </md-field>

          <!-- Monster Acrobatics -->
          <md-field>
            <label for="level">Monster Acrobatics</label>
            <md-select v-model="monsterProperties.acrobatics" name="acrobatics" id="acrobatics">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Animal Handling -->
          <md-field>
            <label for="level">Monster Animal Handling</label>
            <md-select v-model="monsterProperties.animalHandling" name="animalHandling" id="animalHandling">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Arcana -->
          <md-field>
            <label for="level">Monster Arcana</label>
            <md-select v-model="monsterProperties.arcana" name="arcana" id="arcana">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Athletics -->
          <md-field>
            <label for="level">Monster Athletics</label>
            <md-select v-model="monsterProperties.athletics" name="athletics" id="athletics">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Deception -->
          <md-field>
            <label for="level">Monster Deception</label>
            <md-select v-model="monsterProperties.deception" name="deception" id="deception">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster History -->
          <md-field>
            <label for="level">Monster History</label>
            <md-select v-model="monsterProperties.history" name="history" id="history">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Insight -->
          <md-field>
            <label for="level">Monster Insight</label>
            <md-select v-model="monsterProperties.insight" name="insight" id="insight">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Intimidation -->
          <md-field>
            <label for="level">Monster Intimidation</label>
            <md-select v-model="monsterProperties.intimidation" name="intimidation" id="intimidation">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Investigation -->
          <md-field>
            <label for="level">Monster Investigation</label>
            <md-select v-model="monsterProperties.investigation" name="investigation" id="investigation">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Medicine -->
          <md-field>
            <label for="level">Monster Medicine</label>
            <md-select v-model="monsterProperties.medicine" name="medicine" id="medicine">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Nature -->
          <md-field>
            <label for="level">Monster Nature</label>
            <md-select v-model="monsterProperties.nature" name="nature" id="nature">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Perception -->
          <md-field>
            <label for="level">Monster Perception</label>
            <md-select v-model="monsterProperties.perception" name="perception" id="perception">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Performance -->
          <md-field>
            <label for="level">Monster Performance</label>
            <md-select v-model="monsterProperties.performance" name="performance" id="performance">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Persuasion -->
          <md-field>
            <label for="level">Monster Persuasion</label>
            <md-select v-model="monsterProperties.persuasion" name="persuasion" id="persuasion">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Religion -->
          <md-field>
            <label for="level">Monster Religion</label>
            <md-select v-model="monsterProperties.religion" name="religion" id="religion">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Sleight of Hand -->
          <md-field>
            <label for="level">Monster Sleight of Hand</label>
            <md-select v-model="monsterProperties.slightOfhand" name="sleightOfhand" id="sleightOfhand">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Stealth -->
          <md-field>
            <label for="level">Monster Stealth</label>
            <md-select v-model="monsterProperties.stealth" name="stealth" id="stealth">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>

          <!-- Monster Survival -->
          <md-field>
            <label for="level">Monster Survival</label>
            <md-select v-model="monsterProperties.survival" name="survival" id="survival">
              <md-option value="1">1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="11">11</md-option>
              <md-option value="12">12</md-option>
              <md-option value="13">13</md-option>
              <md-option value="14">14</md-option>
              <md-option value="15">15</md-option>
              <md-option value="16">16</md-option>
              <md-option value="17">17</md-option>
              <md-option value="18">18</md-option>
              <md-option value="19">19</md-option>
              <md-option value="20">20</md-option>
            </md-select>
          </md-field>



        </md-step>

        <!-- Third Step -->
        <md-step id="third" md-label="Third Step - Equipment">
          <p>test</p>
        </md-step>

        <!-- Fourth Step -->
        <md-step id="fourth" md-label="Monster Information">
          <br>


          <!--Save Character Button -->
          <div>
            <br>
            <big>Click here to save this monster:</big>
            <br>
            <md-button v-on:click="saveMonster()" class="md-raised md-primary">SAVE</md-button>
          </div>
        </md-step>
      </md-steppers>
    </md-card>

  </div>


  <div class="md-layout-item">
     <!--Character Sheet Character information Card -->
          <div>
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">Monster Information</div>
                </md-card-header-text>
                <!-- User Image Display -->
                <md-card-media>
                  <img src="/assets/examples/avatar-2.jpg" alt="User Image">
                </md-card-media>
              </md-card-header>
              <md-card-content>
                <md-list>
                  <md-list-item>
                    Monster Name: {{monsterProperties.name}}
                  </md-list-item>
                  <md-list-item>
                    Type: {{monsterProperties.type}}
                  </md-list-item>
                  <md-list-item>
                    Challenge Rank: {{monsterProperties.rank}}
                  </md-list-item>
                  <md-list-item>
                    Monster Armor Class: {{monsterProperties.armorClass}}
                  </md-list-item>
                  <md-list-item>
                    Monster Speed: {{monsterProperties.speed}}
                  </md-list-item>
                  <md-list-item>
                    Strength: {{monsterProperties.strength}}
                  </md-list-item>
                  <md-list-item>
                    Dexterity: {{monsterProperties.dexterity}}
                  </md-list-item>
                  <md-list-item>
                    Constitution: {{monsterProperties.constitution}}
                  </md-list-item>
                  <md-list-item>
                    Intelligence: {{monsterProperties.intelligence}}
                  </md-list-item>
                  <md-list-item>
                    Wisdom: {{monsterProperties.wisdom}}
                  </md-list-item>
                  <md-list-item>
                    Charisma: {{monsterProperties.charisma}}
                  </md-list-item>
                </md-list>
              </md-card-content>
            </md-card>
          </div>

          <br>
          <!-- Monster Sheet Equipment information Card -->
          <div>
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">Monster Equipment</div>
                  <div class="md-subhead">
                    <span>Main Hand: {{monsterProperties.mainHand}}</span>
                    <br>
                    <span>Off Hand: {{monsterProperties.offHand}}</span>
                    <br>
                    <span>Equipment: {{monsterProperties.equipment}}</span>
                    <br>
                    <span>Treasure: {{monsterProperties.treasure}}</span>
                    <br>
                    <span>Gold: {{monsterProperties.gold}}</span>
                  </div>
                </md-card-header-text>
              </md-card-header>
            </md-card>
          </div>

     <!-- Monster Role-play information Card -->
          <div>
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <div class="md-title">Monster Role-play Information</div>
                  <div class="md-subhead">
                    <span>Alignment: {{monsterProperties.alignment}}</span>
                    <br>
                    <span>Acrobatics: {{monsterProperties.acrobatics}}</span>
                    <br>
                    <span>Animal Handling: {{monsterProperties.animalHandling}}</span>
                    <br>
                    <span>Arcana: {{monsterProperties.arcana}}</span>
                    <br>
                    <span>Athletics: {{monsterProperties.athletics}}</span>
                    <br>
                    <span>Deception: {{monsterProperties.deception}}</span>
                    <br>
                    <span>History: {{monsterProperties.history}}</span>
                    <br>
                    <span>Insight: {{monsterProperties.insight}}</span>
                    <br>
                    <span>Intimidation: {{monsterProperties.intimidation}}</span>
                    <br>
                    <span>Medicine: {{monsterProperties.medicine}}</span>
                    <br>
                    <span>Nature: {{monsterProperties.nature}}</span>
                    <br>
                    <span>Investigation: {{monsterProperties.investigation}}</span>
                    <br>
                    <span>Perception: {{monsterProperties.perception}}</span>
                    <br>
                    <span>Performance: {{monsterProperties.performance}}</span>
                    <br>
                    <span>Persuasion: {{monsterProperties.persuasion}}</span>
                    <br>
                    <span>Religion: {{monsterProperties.religion}}</span>
                    <br>
                    <span>Slight of hand: {{monsterProperties.slightOfhand}}</span>
                    <br>
                    <span>Stealth: {{monsterProperties.stealth}}</span>
                    <br>
                    <span>Survival: {{monsterProperties.survival}}</span>
                  </div>
                </md-card-header-text>
              </md-card-header>
            </md-card>
          </div>
  </div>

</div>


<!--First Step -->
</template>

<script>
import {HTTP} from '../../http/http-axios'

export default {
  name: "MonsterCreateComponent",
  data() {
    return {
      monsterProperties: {
         strength: "" ,
         dexterity: "" ,
         constitution: "" ,
         intelligence: "" ,
         wisdom: "" ,
         charisma: "" ,
         name: "" ,
         rank: "" ,
         armorClass: "" ,
         speed: "" ,
         initiative: "" ,
         health: "" ,
         level: "" ,
         languages: "" ,
         spells: "" ,
         type: "",
         alignment: "" ,
         acrobatics: "" ,
         animalHandling: "" ,
         arcana: "" ,
         athletics: "" ,
         deception: "" ,
         history: "" ,
         insight: "" ,
         intimidation: "" ,
         investigation: "" ,
         medicine: "" ,
         nature: "" ,
         perception: "" ,
         performance: "" ,
         persuasion: "" ,
         religion: "" ,
         slightOfhand: "" ,
         stealth: "" ,
         survival: "",
         mainHand: "" ,
         offHand: "" ,
         equipment: "" ,
         treasure: "" ,
         gold: "" 
      },
      /* These are for step two and uploading an image. */
      initial: "vue-material-is-awesome.jpg",
      single: null
    };
  },

  methods: {
    saveMonster: function() {
      var token = localStorage.getItem('token');
      HTTP.post('monsters/create', {
        strength: this.monsterProperties.strength,
        dexterity: this.monsterProperties.dexterity,
        constitution: this.monsterProperties.constitution,
        intelligence: this.monsterProperties.intelligence,
        wisdom: this.monsterProperties.wisdom,
        charisma: this.monsterProperties.charisma,
        name: this.monsterProperties.name,
        rank: this.monsterProperties.rank,
        armorClass: this.monsterProperties.armorClass,
        speed: this.monsterProperties.speed,
        initiative: this.monsterProperties.initiative,
        health: this.monsterProperties.health,
        level: this.monsterProperties.level,
        languages: this.monsterProperties.languages,
        spells: this.monsterProperties.spells,
        type: this.monsterProperties.type,
        alignment: this.monsterProperties.alignment,
        acrobatics: this.monsterProperties.acrobatics,
        animalHandling: this.monsterProperties.animalHandling,
        arcana: this.monsterProperties.arcana,
        athletics: this.monsterProperties.athletics,
        deception: this.monsterProperties.deception,
        history: this.monsterProperties.history,
        insight: this.monsterProperties.insight,
        intimidation: this.monsterProperties.intimidation,
        investigation: this.monsterProperties.investigation,
        medicine: this.monsterProperties.medicine,
        nature: this.monsterProperties.nature,
        perception: this.monsterProperties.perception,
        performance: this.monsterProperties.performance,
        persuasion: this.monsterProperties.persuasion,
        religion: this.monsterProperties.religion,
        slightOfhand: this.monsterProperties.slightOfhand,
        stealth: this.monsterProperties.stealth,
        survival: this.monsterProperties.survival,
        mainHand: this.monsterProperties.mainHand,
        offHand: this.monsterProperties.offHand,
        equipment: this.monsterProperties.equipment,
        treasure: this.monsterProperties.treasure,
        gold: this.monsterProperties.gold
      }, {
        headers: { Authorization: localStorage.getItem('token') }
      })
    },

    /* This will call a function from the backend to roll the numbers. */
    rollAbility: function() {
      console.log("clicked");
    },
    /* If the player does not want to roll their abilities, they can use a Point Buy system */
    buyAbility: function() {
      console.log("clicked");
    },

    /* The hit die changes depending on the class. For now, I will make it so it only works for a human fighter. */
    rollHealth: function() {
      console.log("clicked");
    },

    /* This clears the selections made by the user for character abilities */
    resetAbility: function(abilities) {
      console.log("clicked");
      while (this.ablilties.length > 0) {
        this.abilities.pop();
      }
      console.log(this.abilities);
    },

    /* I wrote a script for this to be called from the backend */
    rollGold: function() {
      console.log("gold");
    }
  }
};
</script>

<style  scoped>

</style>

