<template>
    <md-card>
      <md-card-header>
        <div class="md-title">Monsters</div>
      </md-card-header>
        <list-component v-bind:data="monsters"></list-component>
      <md-card-content>
      </md-card-content>
    </md-card>
</template>

<script>
  import ListComponent from '@/components/shared/ListComponent'

  export default {
    name: 'MonsterListComponent',
    components: {
      ListComponent
    },

    data () {
      return {
        monsters: []
      }
    },

    created () {
      this.monsters = [{name: 'Acrog', icon: 'ra ra-two-dragons'}, {name: 'Barlog', icon: 'ra ra-two-dragons'}, {name: 'Karlock', icon: 'ra ra-two-dragons'}]
    }
  }
</script>

<style  scoped>
</style>