<template>
    <md-list>
      <md-list-item v-for="data in data" v-bind:key="data.name">
          <i v-bind:class="data.icon"></i> 
          <span class="md-list-item-text">{{data.name}}</span>
      </md-list-item>
    </md-list>
</template>

<script>
  export default {
    name: 'ListComponent',
    props: ['data']
  }
</script>

<style  scoped>
</style>