<template>
  <div class="main" v-if="authenticated">
    <main-nav-component></main-nav-component>
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <transition name="fade" >
          <router-view></router-view>
        </transition>
      </div>
    </div>
    <md-snackbar :md-active.sync="toast.show">{{toast.message}}</md-snackbar>
  </div>
  <div class="main" v-else>
    <login-component></login-component>
    <md-snackbar :md-active.sync="toast.show">{{toast.message}}</md-snackbar>
  </div>
</template>

<script>
import DashboardComponent from './dashboard/DashboardComponent'
import MainNavComponent from './main-nav/MainNavComponent'
import LoginComponent from './login/LoginComponent'
import SignUpComponent from './signup/SignUpComponent'
export default {
  name: 'MainComponent',
  components: {
    MainNavComponent,
    LoginComponent,
    SignUpComponent
  },
  data () {
    return {
      loggedIn: true
    }
  },
  methods: {
  },
  created: function() {
    this.$on('md-closed', function() {
      console.log('hello');
    })
  },
  computed: {
    authenticated: function() {
      return this.$store.getters.authenticated
    },
    toast: function() {
      return this.$store.getters.toast
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .10s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.md-layout {
  height: 100%;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
