<template>
  <div class="dashboard-container">
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <character-list-component></character-list-component>
      </div>
      <div class="md-layout-item">
        <monster-list-component></monster-list-component>
      </div>
    </div>
  </div>
</template>

<script>
  import MonsterListComponent from '@/components/monster/MonsterListComponent'
  import CharacterListComponent from '@/components/character/CharacterListComponent'

  export default {
    name: 'DashboardComponent',
    components: {
      MonsterListComponent,
      CharacterListComponent
    }
  }
</script>

<style  scoped>
  .dashboard-container {
    padding: 20px;
    height: 100%;
    background: #37474F;
  }

  .md-layout-item {
    padding: 20px;
  }
</style>
