<template>
  <div class="md-layout md-gutter md-alignment-center-center">
    <div class="md-layout-item md-size-40">
      <md-card>
        <md-card-header>
          <svg width="200px" height="100px" viewBox="0 0 79 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <text id="Cursed-Die" font-family="PiecesofEight, Pieces of Eight" font-size="20" font-weight="normal" letter-spacing="-0.204347819" fill="#C56767">
                <tspan x="0" y="15">Cursed Di</tspan>
                <tspan x="69.8405571" y="15" letter-spacing="-0.0888468772">e</tspan>
            </text>
            <text id="gaming" font-family="PiecesofEight, Pieces of Eight" font-size="26" font-weight="normal" letter-spacing="4.84000015" fill="#C56767">
                <tspan x="0" y="30">gamin</tspan>
                <tspan x="70.601368" y="30">g</tspan>
            </text>
            <path d="M2.15917852,5.47850596 L2.14227295,5.47076416 L1.25085449,6.13061523 L1.95882633,6.21106095 C1.81401897,6.43995419 1.59255472,6.67314871 1.29443359,6.91064453 L1.08624268,7.18304443 L0.674377441,7.07836914 L0.255981445,7.07836914 L0.890014648,6.21984863 C0.920994076,6.06309854 0.967463216,5.90459863 1.02942207,5.74434891 C1.124814,5.49762825 1.2691611,5.16465273 1.46246338,4.74542236 C1.84409587,3.91774495 2.43835449,3.10520426 3.24523926,2.30780029 L2.62042236,3.29302979 C2.19557699,4.18764242 2.03619385,4.88053385 2.14227295,5.3717041 C2.1499371,5.40719087 2.15557229,5.44279149 2.15917852,5.47850596 Z" id="Combined-Shape" fill="#DF9C9C"></path>
            <path d="M1.43083604,8.6866195 L1.34472656,9.48138428 L1.73149872,9.05512632 L1.90155029,9.2635498 L1.97155762,10.3110962 C2.62133789,11.6274211 3.14343262,12.2798055 3.5378418,12.2682495 C3.93225098,12.2566935 4.15458171,12.1380819 4.20483398,11.9124146 L3.8807373,12.9386597 C3.56115723,12.9386597 3.26920573,12.8627726 3.00488281,12.7109985 C2.60839844,12.4833374 2.04624696,11.9336164 1.54382324,10.7919922 C1.2088741,10.0309094 1.02859659,9.15432247 1.00299072,8.16223145 L1.43083604,8.6866195 Z" id="Combined-Shape" fill="#DF9C9C"></path>
        </g>
        </svg>
          <p>Let the Adevnture Begin.</p>
        </md-card-header>
        <md-card-content>
          <form novalidate @submit.prevent="validateUser">
            <md-field :class="getValidationClass('email')">
              <label>Email</label>
              <md-input v-model="form.email"></md-input>
              <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
              <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
            </md-field>
            <md-field :class="getValidationClass('password')">
              <label>Password</label>
              <md-input type="password" name="password" v-model="form.password"></md-input>
              <span class="md-error" v-if="!$v.form.email.required">password is required</span>
              <span class="md-error" v-else-if="!$v.form.password.password">Must be more then 3 characters</span>
            </md-field>
            <div class="login-container">
              <md-button type="submit" class="md-raised md-primary">Login</md-button>
              <md-button v-on:click="signUp">Sign up</md-button>
            </div>
          </form>
        </md-card-content>
        <md-progress-bar md-mode="indeterminate" v-if="isLoading" />
    </md-card>
    </div>
    <sign-up-component></sign-up-component>
  </div>
</template>

<script>
  import SignUpComponent from '../signup/SignUpComponent'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'
  export default {
    name: 'LoginComponent',
    mixins: [validationMixin],
    components: {
      SignUpComponent
    },
    data: () => ({
      form: {
        email: null,
        password: null
      }
    }),
    validations: {
      form: {
        password: {
          required,
          minLength: minLength(3)
        },
        email: {
          required,
          email
        }
      }
    },
    computed: {
      isLoading: function() {
        return this.$store.getters.isLoading
      }
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.login()
        }
      },
      login: function(){
        this.$store.dispatch('authenticate', {
          email: this.form.email,
          password: this.form.password
        })
        // this.$router.push('/dashboard')
      },
      signUp: function(){
        this.$store.commit('showRegistration')
      }
    }
  }
</script>

<style scoped>
  .md-layout {
    height: 100%;
  }

  .md-card-header {
    text-align: center;
  }
</style>
