<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  @import './assets/css/rpg-awesome.css';
  .main {
    height: 100%;
  }
  body, html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
  }
  #app {
    height: 100%;
  }
</style>
